modules = ["web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Serve Slides"

[[workflows.workflow]]
name = "Serve Slides"
author = 40959682
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
